.toolbar {
    background-color: red !important;
    justify-content: center;
    display: flex;
    align-items: center;
}

.form {
    text-align: center;
}


img[src=""] {
    display: none;
}
p {
    font-weight: bolder;
}
.image_size{
    width: 50%;
}