
<div class="toolbar" role="banner">
  <div class="toolbar" role="banner">
    <img src="assets/three.png">
    <span>Babbo segreto app 2024!!!!</span>
    <img src="assets/three.png">
  </div>
</div>

<div class="content" role="main">


  <div class="carta">
    <div class="form">
      <h2> Inserisci la tua password per scroprire a chi devi regalare cose</h2>

      <input type="text" #message (keydown.enter)="onSubmit(message.value)">
      <p>{{to_show}}</p>
      <img  src="{{img_src}}" class="image_size">
    </div>

  </div>

<router-outlet />
