<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="toolbar" role="banner">
    <img src="assets/three.png">
    <span>Babbo segreto app 2024!!!!</span>
    <img src="assets/three.png">
  </div>
</div>

<div class="content" role="main">

  <!-- Toolbar -->



  <div class="carta">
    <div class="form">
      <h2> Inserisci la password che ti ho mandato per whatsapp per scroprire a chi devi regalare cose</h2>

      <input type="text" #message (keydown.enter)="onSubmit(message.value)">
      <p>{{to_show}}</p>
      <img *ngIf="img_src" src="{{img_src}}" class="image_size" alt="Descrizione immagine">
    </div>

  </div>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet />
